<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        :root {
            --white: #fff;
            --blue: #00bfff;
        }

        body {
            background: var(--blue);
            text-align: center;
        }

        h1 {
            font-size: 80px;
            color: var(--white);
        }

        p {
            padding-top: 30px;
            font-size: 30px;
            color: var(--white);
        }
    </style>
</head>
<body>
<h1>404 Error</h1>
<p>!No such page found.</p>
</body>
</html>

