<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../stuff/style.css"/>
</head>
<body>
<%- include('partials/nav.ejs') %>
<h1><%= data.department %> branch</h1>
<p>Thanks for contacting Mr. <%= data.who %></p>
<p>For more info check new mail on <br> <%= data.email %></p>
</body>
</html>
