<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../stuff/style.css"/>
</head>
<body>
<%- include('partials/nav.ejs') %>
<h1>Contact Us</h1>

<form id="contact-form" method="post" action="/contact">
    <label for="who">Who do you want to contact?</label>
    <input type="text" name="who"/>
    <label for="department">Which department?</label>
    <input type="text" name="department"/>
    <label for="email">Your email?</label>
    <input type="email" name="email"/>
    <input type="submit" name="submit"/>
</form>
</body>
</html>
