<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        :root {
            --white: #fff;
            --blue: #00bfff;
        }

        body {
            background: var(--blue);
            text-align: center;
        }

        h1 {
            font-size: 80px;
            color: var(--white);
        }

        p {
            padding-top: 30px;
            font-size: 30px;
            color: var(--white);
        }
    </style>
</head>
<body>
<p>Welcome to the profile of <strong><%= person %></strong></p>
<p>Age : <%= data.age %></p>
<p>Job : <%= data.job %></p>
<p>Hobbies: </p>
<% data.hobbies.forEach(function(item){ %>
    <li><%= item %></li>
<% }) %>
<hr>
</body>
</html>
