:root{
  --white: #fff;
  --blue: #00bfff;
}
body{
  background: var(--blue);
  text-align: center;
}
h1{
  font-size: 80px;
  color: var(--white);
}
p{
  padding-top: 30px;
  font-size: 30px;
  color: var(--white);
}
#contact-form {
  display: grid;
  margin: 0 auto;
  width: 400px;
}
#contact-form input {
   margin: 10px 0;
  font-size: 16px;
  padding: 4px;
}
